In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import inspect

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [4]:
# Get the name of tables
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [5]:
# Inspect columns in "measurement"
columns_measurement = inspector.get_columns("measurement")
for column in columns_measurement:
    print(column['name'],column['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [6]:
# Inspect columns in "measurement"
columns_station = inspector.get_columns("station")
for column in columns_station:
    print(column['name'],column['type'])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

## D1: Determine the Summary Statistics for June

In [7]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temp = session.query(Measurement.tobs).filter(extract('month',Measurement.date)==6).all()

In [8]:
#  3. Convert the June temperatures to a list.
# It is a list now.

In [9]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temp_df = pd.DataFrame(june_temp)

In [10]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temp_df.describe()

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [11]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_temp = session.query(Measurement.tobs).filter(extract('month',Measurement.date)==12).all()

In [12]:
# 7. Convert the December temperatures to a list.
# It is a list now

In [13]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_temp_df = pd.DataFrame(december_temp)

In [14]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_temp_df.describe()

              tobs
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

## D3: Additionals

In [15]:
june_prcp = session.query(Measurement.prcp).filter(extract('month',Measurement.date)==6).all()
june_prcp_df = pd.DataFrame(june_prcp)
december_prcp = session.query(Measurement.prcp).filter(extract('month',Measurement.date)==12).all()
december_prcp_df = pd.DataFrame(december_prcp)

In [16]:
june_prcp_df.describe()

              prcp
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [17]:
december_prcp_df.describe()

              prcp
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000

In [18]:
# Summary Table
june_temp_list = june_temp_df.describe()['tobs'].tolist()
december_temp_list = december_temp_df.describe()['tobs'].tolist()
june_prcp_list = june_prcp_df.describe()['prcp'].tolist()
december_prcp_list = december_prcp_df.describe()['prcp'].tolist()
summary_df = pd.DataFrame({
    'June Temp':june_temp_list,
    'December Temp': december_temp_list,
    'June Prcp': june_prcp_list,
    'December Prcp': december_prcp_list},
    index = june_temp_df.describe().index.tolist()
)
summary_df

         June Temp  December Temp    June Prcp  December Prcp
count  1700.000000    1517.000000  1574.000000    1405.000000
mean     74.944118      71.041529     0.136360       0.216819
std       3.257417       3.745920     0.335731       0.541399
min      64.000000      56.000000     0.000000       0.000000
25%      73.000000      69.000000     0.000000       0.000000
50%      75.000000      71.000000     0.020000       0.030000
75%      77.000000      74.000000     0.120000       0.150000
max      85.000000      83.000000     4.430000       6.420000